// crazy big file, break it donw into partials.
<header>
  <h1 class="header">PIMP MY MEME</h1>
</header>

<div class="add-a-meme">
<%= link_to "+ add a meme", new_meme_path, class: "add-a-meme " %>
</div>

<div class="new">
  <div class="visible">
    <%= form_for @meme do |f| %>
      <%= f.text_field :title, :placeholder => "Title your Meme" %>
      <%= f.text_field :image_url, id: "meme_url", :placeholder => "Paste Image URL" %>
      or
      <div class="wrapper">
        <%= f.file_field :image_url %>
      </div>
      <%= f.submit "submit" %>
    <% end %>
  </div>
</div>



<% form_for :meme, url: memes_path(:meme) do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "submit" %>
<% end %>

<div class = "memes">
  <% @memes.shuffle.each do |meme|%>
    <%= link_to image_tag(meme.image_url, class:"meme", alt:meme.title), meme_path(meme) %>
  <%end %>
</div>
