
<div class="new_meme">
<%= form_for @meme, method: "post" do |f| %>
<%= f.text_field :title, :placeholder => "Title your Meme" %><br>
<%= f.text_field :image_url, id:"meme_url", :placeholder => "Paste Image URL" %><br>
or
<div class="wrapper">
<%= f.file_field :image_url %>
</div>
<%= f.submit "submit" %>
<% end %>
</div>

