<div class="pimp_meme">
  <h1 class="meme"><a href='/' id="index">PIMP MY MEME</a></h1>
</div>
<div class="container">
<div class="meme" id="meme_box">

<div class="image" style='height="<%=@meme.height%>" width="<%=@meme.width%>"'>

  <div class="height-fix"><%=@meme.height%></div>
  <div class="width-fix"><%=@meme.width%></div>

  <%=cl_image_tag(@meme.public_id.concat("."+@meme.format), :crop => :limit, :width => 400, class:"meme_show", alt:@meme.title)%>
  <p class="image"><%if@captions.first%><%=@captions.first.title%><%end%></p>
</div>

</div>
<div class="caption_table">
<%= render "captions/captions" %>
</div>
<br>

<div class="caption_form">
  <%= form_for :caption do |f|  %>
  <%= f.text_area :title, :placeholder => "Show me your Meme"%><br>
  <%= f.text_field :signature, :placeholder => "Your Name" %><br>
  <%= f.hidden_field :meme_id, :value => @meme.id%>
  <%= f.submit "submit" %>
  <% end %>
</div>
</div>
<a class="vote_up_button">


